.Greet {
  position: absolute;
  max-width: 500px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.Greet .content {
  position: relative;
  display: inherit;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
  -webkit-box-align: inherit;
      -ms-flex-align: inherit;
          align-items: inherit;
  text-align: center;
}

.Greet .gray {
  background-color: #dbdbdb;
  border-radius: 10px;
  padding: 15px;
}

.Greet input {
  max-width: 60px;
}

@media screen and (min-width: 1000px) {
  .Greet input {
    font-size: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .Greet input {
    font-size: 20px;
  }
}
