@media screen and (min-width: 500px) {
  .Greet {
    position: relative;
    width: 100%;
    background-color: #dbdbdb;
    border-radius: 20px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 5px;
  }
}

@media screen and (max-width: 500px) {
  .Greet {
    position: relative;
    width: 100%;
    background-color: #dbdbdb;
    border-radius: 13px;
    padding: 5px;
  }
}
