@charset "UTF-8";
.Exercise {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: inherit;
  max-width: 1000px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Exercise input {
  font-size: 30px;
  width: 4em;
  border-radius: 5px;
  border: 1px solid #0099ff;
  /* рамка */
  border-radius: 5px;
  /* скругление полей формы */
}

.Exercise input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.Exercise input[type="number"]::-webkit-outer-spin-button,
.Exercise input[type="number"]::-webkit-inner-spin-button {
  display: none;
}
