@media screen and (min-width: 768px) {
  .text {
    font-size: inherit;
  }
  .text__title {
    font-size: 42px;
  }
  .text__sectiontitle {
    font-size: 37px;
  }
  .text__subtitle {
    font-size: 33px;
  }
  .text__subsection {
    padding-left: 20px;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .text__par {
    padding-left: 27px;
  }
  .popup__container {
    position: absolute;
    padding: 40px;
    min-width: inherit;
    max-width: inherit;
    width: auto;
    height: auto;
    background-color: transparent;
    scrollbar-width: none;
  }
  .popup__content {
    position: relative;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    max-width: 1000px;
    scrollbar-width: none;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  }
  .popup__content p {
    padding-left: 20px;
  }
}

@media screen and (max-width: 768px) {
  .text {
    font-size: inherit;
  }
  .text p {
    font-size: 20px;
  }
  .text__title {
    font-size: 35px;
  }
  .text__sectiontitle {
    font-size: 27px;
  }
  .text__subtitle {
    font-size: 23px;
  }
  .text__subsection {
    padding-left: 20px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .text__par {
    padding-left: 10px;
  }
  .popup__container {
    position: absolute;
    padding: 20px;
    min-width: inherit;
    max-width: inherit;
    width: auto;
    height: auto;
    background-color: transparent;
    scrollbar-width: none;
  }
  .popup__content {
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    scrollbar-width: none;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    -webkit-animation: popup 0.5s ease-in-out forwards;
            animation: popup 0.5s ease-in-out forwards;
  }
  .popup__content p {
    padding-left: 20px;
  }
}

.popup {
  z-index: 50;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 100%;
  left: 0px;
  overflow-x: hidden;
  overflow-y: visible;
  scrollbar-width: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

li {
  list-style: none;
  padding: 5px;
}

li:before {
  content: "\003E\003E\003E";
  padding-right: 10px;
}

.date {
  font-size: 15px;
  padding: 0px 0px 0px 20px;
}

.open {
  top: 0px;
}

.closing {
  -webkit-animation: closing 0.5s ease-in-out forwards;
          animation: closing 0.5s ease-in-out forwards;
}

@-webkit-keyframes closing {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  100% {
    top: 200%;
  }
}

@keyframes closing {
  0% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  100% {
    top: 200%;
  }
}

@-webkit-keyframes popup {
  0% {
    -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}

@keyframes popup {
  0% {
    -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
  }
  100% {
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
}
