@charset "UTF-8";
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: -1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: -400;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  height: 100%;
  width: 100%;
  font-size: 30px;
  overflow: hidden;
}

@media screen and (min-width: 500px) {
  .container {
    position: relative;
    max-width: inherit;
    max-height: inherit;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    margin: 5px 0px;
  }
  .content {
    position: relative;
    display: inherit;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    width: 100%;
    padding: 10px;
  }
  button {
    width: 100%;
    font-size: inherit;
    color: white;
    border-radius: 25px;
    background-color: #0099ff;
    transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
  }
}

@media screen and (max-width: 500px) {
  .container {
    position: relative;
    max-height: inherit;
    max-width: inherit;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px;
    padding: 10px;
    margin: 0px 5px;
  }
  .content {
    position: relative;
    display: inherit;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
    width: 100%;
    padding: 10px;
  }
  button {
    width: 100%;
    font-size: inherit;
    color: white;
    border-radius: 20px;
    background-color: #0099ff;
    transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
  }
}

button:hover {
  -webkit-box-shadow: 0 0 10px #0099ff;
          box-shadow: 0 0 10px #0099ff;
}

input {
  font-size: 30px;
  max-width: 150px;
}

.onHover:hover {
  -webkit-transform: scale3d(1.05, 1.05, 1.05);
          transform: scale3d(1.05, 1.05, 1.05);
}

select {
  font-size: inherit;
  /* от ширины блока div */
  padding: 0.25em;
  /* отступы от текста до рамки */
  background: #ebebeb;
  border: 1px solid #0099ff;
  /* рамка */
  border-radius: 5px;
  /* скругление полей формы */
  -webkit-appearance: none;
  /* Chrome */
  -moz-appearance: none;
  /* Firefox */
  appearance: none;
  /* убираем дефолнтные стрелочки */
  font-family: inherit;
  /* наследует от родителя */
}

span {
  margin-right: 10px;
}

.gray {
  background-color: #ebebeb;
  border-radius: 10px;
  padding: 15px;
}
