@media screen and (min-width: 768px) {
  .text {
    font-size: inherit;
  }
  .text__title {
    font-size: 42px;
  }
  .text__sectiontitle {
    font-size: 37px;
  }
  .text__subtitle {
    font-size: 33px;
  }
  .text__subsection {
    padding-left: 20px;
    font-size: 25px;
    margin-bottom: 10px;
  }
  .text__par {
    padding-left: 27px;
  }
  .popup__container {
    position: absolute;
    padding: 40px;
    min-width: inherit;
    max-width: inherit;
    width: auto;
    height: auto;
    background-color: transparent;
    scrollbar-width: none;
  }
  .popup__content {
    position: relative;
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    max-width: 1000px;
    scrollbar-width: none;
    -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
  }
  .popup__content p {
    padding-left: 20px;
  }
  .close:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

@media screen and (max-width: 768px) {
  .text {
    font-size: inherit;
  }
  .text p {
    font-size: 20px;
  }
  .text__title {
    font-size: 35px;
  }
  .text__sectiontitle {
    font-size: 27px;
  }
  .text__subtitle {
    font-size: 23px;
  }
  .text__subsection {
    padding-left: 20px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  .text__par {
    padding-left: 10px;
  }
  .popup__container {
    position: absolute;
    padding: 20px;
    min-width: inherit;
    max-width: inherit;
    width: auto;
    height: auto;
    background-color: transparent;
    scrollbar-width: none;
  }
  .popup__content {
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    scrollbar-width: none;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    -webkit-animation: popup 0.5s ease-in-out forwards;
            animation: popup 0.5s ease-in-out forwards;
  }
  .popup__content p {
    padding-left: 20px;
  }
  .close {
    -webkit-transform: translate(20px, 0px);
        -ms-transform: translate(20px, 0px);
            transform: translate(20px, 0px);
  }
  .close:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.popup {
  z-index: 50;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  height: auto;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 120%;
  left: 0px;
  overflow-x: hidden;
  overflow-y: visible;
  scrollbar-width: none;
  opacity: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.popup button {
  position: absolute;
  right: 50px;
  z-index: 51;
  -webkit-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
}

video {
  max-width: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

#usage-popup {
  max-height: 100vh;
}

.close {
  background-color: transparent;
  color: #000000;
  position: absolute;
  right: 0px;
}

li {
  list-style: none;
  padding: 5px;
}

li:before {
  content: "\003E\003E\003E";
  padding-right: 10px;
}

.date {
  font-size: 15px;
  padding: 0px 0px 0px 20px;
}

.open {
  top: -5px;
  opacity: 1;
}
