$color-accent-blue: rgba(#0099ff, 1);
$color-glow: rgba(#0099ff, 1);
$color-accent-white: rgba(#fff, 1);
$color-accent-gray: rgba(#dbdbdb, 1);
$color-accent-gray-trancparent: rgba(#000000, 0.7);
$color-accent-red-transparent: rgba(#ff0000, 0.5);
$color-accent-red: rgba(#ff0000, 1);
$color-accent-green: rgba(#00ce00, 0.5);

.Greet {
  position: absolute;
  max-width: 500px;
  width: 100%;
  align-items: center;
  justify-content: center;
  .content {
    position: relative;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    text-align: center;
  }
  .gray {
    background-color: $color-accent-gray;
    border-radius: 10px;
    padding: 15px;
  }
  input {
    min-width: 30px;
    max-width: 37px;
  }

  @media screen and (min-width: 768px) {
    .Greet {
      font-size: 30px;
    }
    input {
      font-size: 30px;
    }
    .number__input {
      border-radius: 10px;
      overflow: hidden;
      background-color: $color-accent-blue;
      color: $color-accent-white;
      input {
        border-radius: 0px;
      }
    }
    .number__title {
      margin: 0px 20px 0px 0px;
    }
    .number__minus,
    .number__plus {
      min-width: 30px;
      padding: 0px 5px;
      border-radius: 10px;
      // text-align: center;
      align-items: center;
      // justify-content: center;
      //user-select: none;
    }
  }
  @media screen and (max-width: 768px) {
    .Greet {
      font-size: 15px;

      input {
        font-size: 20px;
      }
    }

    .number__input {
      border-radius: 10px;
      overflow: hidden;
      background-color: $color-accent-blue;
      color: $color-accent-white;
      input {
        border-radius: 0px;
      }
    }
    .number__title {
      margin: 0px 10px 0px 0px;
    }
    .number__minus,
    .number__plus {
      min-width: 10px;
      padding: 0px 5px;
      // text-align: center;
      align-items: center;
      // justify-content: center;
      //user-select: none;
    }
  }
  @media screen and (max-width: 400px) {
    .Greet {
      font-size: 15px;

      input {
        font-size: 15px;
      }
    }

    .number__input {
      border-radius: 10px;
      overflow: hidden;
      background-color: $color-accent-blue;
      color: $color-accent-white;
      font-size: 26px;
      input {
        border-radius: 0px;
      }
    }
    .number__title {
      margin: 0px 5px 0px 0px;
      font-size: 26px;
    }
    .number__display {
      font-size: inherit;
    }
    .number__minus,
    .number__plus {
      min-width: 10px;
      padding: 0px 5px;
      // text-align: center;
      align-items: center;
      // justify-content: center;
      //user-select: none;
    }
  }
}
