@import "./zero";

$color-accent-blue: rgba(#0099ff, 1);
$color-glow: rgba(#0099ff, 1);
$color-accent-white: rgba(#fff, 1);
$color-accent-gray: rgba(#dbdbdb, 1);
$color-accent-gray-trancparent: rgba(#000000, 0.7);
$color-accent-red: rgba(#ff0000, 0.5);
$color-accent-green: rgba(#00ce00, 0.5);

#root {
  height: inherit;
  width: inherit;
}

html {
  scrollbar-width: none;
}
body {
  max-width: 100vw;
  max-height: 100vh;
  height: inherit;
  width: inherit;
  font-size: 30px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .container {
    position: relative;
    max-width: inherit;
    max-height: inherit;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px 0px;
    z-index: 10;
  }
  .content {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }
  button {
    width: inherit;
    font-size: inherit;
    color: $color-accent-white;
    border-radius: 50px;
    background-color: $color-accent-blue;
    margin: 5px 0px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    position: relative;
    max-width: inherit;
    max-height: inherit;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px 0px;
    z-index: 10;
  }
  .content {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    margin-bottom: 10px;
  }
  button {
    width: inherit;
    font-size: inherit;
    color: $color-accent-white;
    border-radius: 30px;
    background-color: $color-accent-blue;
    margin: 5px 0px;
  }
}

@media screen and (min-width: 768px) {
  button:hover {
    box-shadow: 0 0 10px $color-glow;
  }
  button.gray:hover {
      box-shadow: none;
    }
}
@media screen and (max-width: 768px) {
  button:hover {
    box-shadow: none;
  }
}

input {
  font-size: 30px;
  border-radius: 5px;
}

.number {
  width: inherit;
}

select {
  width: inherit;
  font-size: inherit; /* от ширины блока div */
  padding: 0.25em; /* отступы от текста до рамки */
  background: $color-accent-gray;
  border: 1px solid $color-accent-blue; /* рамка */
  border-radius: 5px; /* скругление полей формы */
  -webkit-appearance: none; /* Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* убираем дефолнтные стрелочки */
  font-family: inherit; /* наследует от родителя */
  text-align: center;
}

.gray {
  border-radius: 5px;
  background-color: $color-accent-gray;
}

.red {
  border-radius: 5px;
  background-color: $color-accent-red;
}

.green {
  border-radius: 5px;
  background-color: $color-accent-green;
}

a {
  background-color: $color-accent-gray;
  border-radius: 5px;
}
a:visited {
  color: #000;
}
