@import "./zero";

$color-accent-blue: rgba(#0099ff, 1);
$color-glow: rgba(#0099ff, 1);
$color-accent-white: rgba(#fff, 1);
$color-accent-gray: rgba(#ebebeb, 1);

#root {
  height: inherit;
  width: inherit;
}

html {
  scrollbar-width: none;
}
body {
  //display: flex;
  max-width: 100vw;
  max-height: 100vh;
  height: inherit;
  width: inherit;
  //flex: 0 1 auto;
  //justify-content: space-around;
  //align-items: center;
  font-size: 30px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1000px) {
  .container {
    position: relative;
    max-width: inherit;
    max-height: inherit;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px 0px;
    z-index: 10;
  }
  .content {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
  }
  button {
    width: inherit;
    font-size: inherit;
    color: $color-accent-white;
    border-radius: 25px;
    background-color: $color-accent-blue;
    transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    position: relative;
    max-height: inherit;
    max-width: inherit;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    margin: 0px 5px;
    z-index: 10;
  }
  .content {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 10px;
  }
  button {
    width: 100%;
    font-size: inherit;
    color: $color-accent-white;
    border-radius: 20px;
    background-color: $color-accent-blue;
    transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    -webkit-transition: all 0.2s ease 0s;
  }
}

button:hover {
  box-shadow: 0 0 10px $color-glow;
}

input {
  font-size: 30px;
  max-width: 150px;
}

.number {
  width: inherit;
}

.onHover:hover {
  transform: scale3d(1.05, 1.05, 1.05);
}

select {
  width: inherit;
  font-size: inherit; /* от ширины блока div */
  padding: 0.25em; /* отступы от текста до рамки */
  background: $color-accent-gray;
  border: 1px solid $color-accent-blue; /* рамка */
  border-radius: 5px; /* скругление полей формы */
  -webkit-appearance: none; /* Chrome */
  -moz-appearance: none; /* Firefox */
  appearance: none; /* убираем дефолнтные стрелочки */
  font-family: inherit; /* наследует от родителя */
  text-align: center;
}
span {
  margin-right: 10px;
}

.gray {
  background-color: $color-accent-gray;
  border-radius: 10px;
  padding: 15px;
}
